<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
     <!-- SQLSERVER-->
    <!-- <add name="PaymentsDB" connectionString="Data Source=sqlsvr2018003.caxup0k028xm.us-east-1.rds.amazonaws.com,1433;Initial Catalog=PaymentsDB;persist security info=True;user id=admin2018003;password=integrait2018;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" /> -->
    <!-- MYSQL LOCAL-->
    <!-- <add name="PaymentsDB" connectionString="server=localhost;uid=root;database=paymentsdb" providerName="MySql.Data.MySqlClient" />  -->
    <!-- MYSQL AWS-->
    <!-- <add name="PaymentsDB" connectionString="server=granchapur.chlgyq5nebkd.us-east-1.rds.amazonaws.com;uid=integrait;pwd=G4nCh4pur_d(;database=payenstDB" providerName="MySql.Data.MySqlClient" /> -->
    <!-- MYSQL PRODUCTION -->
    <add name="PaymentsDB" connectionString="server=pagos-chapur-db.cn2fyzpiihjx.us-east-1.rds.amazonaws.com;uid=chapurusr15;pwd=chapurpwd96;database=pagos_chapur" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup><system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.11.0" newVersion="6.9.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
