<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>    
    <!-- MYSQL LOCAL-->
    <!-- <add name="PaymentsDB" connectionString="server=localhost;uid=root;database=paymentsdb" providerName="MySql.Data.MySqlClient" /> -->
    
    <!-- MYSQL AWS-->
    <!-- <add name="PaymentsDB" connectionString="server=aaexw2elzxyid1.caxup0k028xm.us-east-1.rds.amazonaws.com;uid=chapurusr4;pwd=chapurpwd9;database=paymentsdb" providerName="MySql.Data.MySqlClient" /> -->
    
    <!-- AURORA AWS-->
    <!--<add name="PaymentsDB" connectionString="server=pagos-chapur.caxup0k028xm.us-east-1.rds.amazonaws.com;uid=chapurusr5;pwd=chapurpwd0;database=pagos_chapur_db" providerName="MySql.Data.MySqlClient" /> -->
  
    <!-- AURORA  DEV AWS-->
    <!-- <add name="PaymentsDB" connectionString="server=pagos-chapur-db-dev-3760d2.cn2fyzpiihjx.us-east-1.rds.amazonaws.com;uid=chapurdbdevusr43;pwd=chapurdbdevpwd01;database=pagos_chapur_db_dev_01" providerName="MySql.Data.MySqlClient" /> -->
      
    <!-- AURORA AWS PRODUCTION-->
     <add name="PaymentsDB" connectionString="server=pagos-chapur-db-us-east-1b.cn2fyzpiihjx.us-east-1.rds.amazonaws.com;uid=chapurusr15;pwd=chapurpwd96;database=pagos_chapur" providerName="MySql.Data.MySqlClient" />
  
  </connectionStrings>
  <appSettings>
    <!-- CONFIGURACIÓN SERVICIOS WEB CHAPUR PRODUCCION -->
    
    <add key="API.Env" value="prod" />
    <add key="Chapur.API.BaseURL" value="http://chapur63.chapur.com" />    
    <add key="Chapur.API.Token" value="MotorDePago/pagos/generartoken" />
    <add key="Chapur.API.OrdenCompra" value="MotorDePago/pagos/ordencompra" />
    <add key="Chapur.API.Detallecompra" value="MotorDePago/pagos/detallecompra" />
    <add key="Chapur.API.EstatusCompra" value="MotorDePago/pagos/estatuscompra" />
    

    <!-- CONFIGURACIÓN SERVICIOS WEB CHAPUR DEV -->
    <!--
    <add key="API.Env" value="dev" />
    <add key="Chapur.API.BaseURL" value="http://chapur63.chapur.com" />
    <add key="Chapur.API.Token" value="DesMotorDePago/pagos/generartoken" />
    <add key="Chapur.API.OrdenCompra" value="DesMotorDePago/pagos/ordencompra" />
    <add key="Chapur.API.Detallecompra" value="DesMotorDePago/pagos/detallecompra" />
    <add key="Chapur.API.EstatusCompra" value="DesMotorDePago/pagos/estatuscompra" />
     -->
    
    <add key="API.AllowOrigin" value="*,http://localhost:4200, http://chapur-dashboard-7b774c.s3-website-us-east-1.amazonaws.com" />   
    
    <!-- CONFIGURACIÓN DE CUNETA DE CORREO -->
    <add key="API.Email.Template" value="~/Content/tpml_token.html" />
    <add key="API.Email.Servidor.Port" value="587" />
    <add key="API.Email.Servidor.SMTP" value="chapur63.chapur.com" />
    <add key="API.Email.Usuario" value="tiendaschapur" />
    <add key="API.Email.From" value="tiendaschapur@chapur63.chapur.com" />
    <add key="API.Email.Password" value="T1Ch4pur063" />
    <add key="API.Email.Subject.Token" value="Token de confirmación GRAN CHAPUR" />
    <add key="API.Email.Subject.Password" value="Recuperar contraseña dashboard GRAN CHAPUR" />
    <add key="API.Email.SubTitle.Token" value="TOKEN: " />
    <add key="API.Email.SubTitle.Password" value="Contraseña temporal: " />
    <add key="API.Email.Detail.Token" value="Para verificar tu identidad, utiliza el siguiente Token para confirmar tu compra:" />
    <add key="API.Email.Detail.Password" value="Para verificar tu identidad, utiliza la siguiente contraseña temporal la cuál es necesario cambiar cuando hayas ingresado al sistema" />  
    
    <!-- REGLAS PIORPI -->
    <add key="PIORPI.Limit.Month" value="100000" />
    <add key="PIORPI.Limit.Week" value="80000" />
    <add key="PIORPI.Limit.Day" value="40000" />    
  
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime enableVersionHeader="false" targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.11.0" newVersion="6.9.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler7" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>   
  <httpProtocol>
    <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
       <add name="Access-Control-Allow-Methods" value="GET,HEAD,OPTIONS,POST,PUT,DELETE" />
       <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />              
       <add name="X-Xss-Protection" value="1; mode=block" />
       <add name="Strict-Transport-Security" value="max-age=31536000;" />
       <add name="X-Content-Type-Options" value="nosniff" />
       <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
       <remove name="X-Powered-By" />
       <remove name="X-AspNet-Version" />
       <remove name="Server" />       
    </customHeaders>
  </httpProtocol>
  </system.webServer>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>