<app-navbar></app-navbar>
<app-alertbar
  *ngIf="showMessageBar"
  [type]="typeMessageBar"
  [title]="titleMessageBar"
  [description]="descripcionMessageBar"
  [noButtons]="true">
</app-alertbar>

<app-loader-process
  [showLoading]="working">
</app-loader-process>

<!-- <div class="pen-title">
    <h1>DASHBOARD PAGO EN LINEA</h1>
  </div>
-->
<div class="container animated bounceInUp">
    <div class="card"></div>
    <div class="card">
      <h1 class="title">RECUPERAR CONTRASEÑA</h1>
      <form [formGroup]="frmRecovery" (ngSubmit)="onResetPassword()">
        <div class="input-container">
          <input
              type="text"
              name="email"
              formControlName="email">
          <label>Correo electrónico</label>
          <div class="bar"></div>

        </div>
        <div *ngIf="frmRecovery.get('email').errors?.required && frmRecovery.get('email').touched" class="text-danger error-label">
          <i class="fa fa-exclamation-circle"></i> El campo correo electrónico es requerido
        </div>

        <div class="button-container">

          <button
            [disabled]="!frmRecovery.valid"
            [ngClass]="{'disabled': !frmRecovery.valid}"
            class="btn btn-outline-danger btn-lg btn-block"
            type="submit">
            RECUPERAR AHORA
          </button>

        </div>
        <div class="footer"><a [routerLink]="['/login']">Iniciar Sesión</a></div>
      </form>
    </div>
    <div class="card alt">
        <div class="toggle"> <i class="fa fa-key"></i> </div>
    </div>
  </div>
