<div class="cnt-dialog-content">
  <h2 mat-dialog-title>
    <i class="fa fa-table"></i> {{ data['title'] }}
  </h2>
  <mat-dialog-content>
      <div class="table-responsive" [ngClass]="{'large-table': data['largeTable']}" >
    <table class="table table-bordered table-striped table-hover ">
      <thead class="thead-dark">
      <tr>
        <th class="width: 50%">{{ data['col01Title'] }}</th>
        <th class="width: 50%">{{ data['col02Title'] }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data['detail'] ">
        <td>{{ row[data['label']] }}</td>
        <td *ngIf="data['currencyFormat']">{{ row[data['value']] | currency}}</td>
        <td *ngIf="!data['currencyFormat']">{{ row[data['value']]}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="bg-danger text-white">
        <td>Total</td>
        <td *ngIf="data['currencyFormat']" >{{ data['detail'] | sum: [data['value']]  | currency  }}</td>
        <td *ngIf="!data['currencyFormat']" >{{ data['detail'] | sum: [data['value']]  }}</td>
      </tr>
    </tfoot>
  </table>
  </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="button-group">
        <button mat-button (click)="onClose()" class="float-right"><i class="fa fa-times"></i> Cerrar</button>
    </div>

  </mat-dialog-actions>
</div>
