.dialog-content{
  padding-left: 20px;
  padding-right: 20px;
}

h2{
  position: relative;
}

h2::before {
  position: absolute;
  height: 35px;
  left: -25px;
  width: 8px;
  top: -2px;
  background-color: #DC3545;
  content: '';
}
.error-label{
  font-size: 12px;
  margin-top: -14px;
  font-style: italic;
}
