<h2 mat-dialog-title>
  <i class="fa fa-lock"></i> Cambiar contraseña</h2>

<!---->
<mat-dialog-content>
  <!--Pass actual-->
  <div class="dialog-content">
    <form [formGroup]="frmPassword">
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Contraseña Actual" formControlName="passwordActual">
      </mat-form-field>
      <div *ngIf="frmPassword.get('passwordActual').errors?.required && frmPassword.get('passwordActual').touched" class="text-danger error-label">
        <i class="fa fa-exclamation-circle"></i> La contraseña actual es requerida.
      </div>
      <!--new pass-->
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Nueva Contraseña" formControlName="password">
      </mat-form-field>
      <div *ngIf="frmPassword.get('password').errors?.required && frmPassword.get('password').touched" class="text-danger error-label">
        <i class="fa fa-exclamation-circle"></i> La nueva contraseña es requerida.
      </div>
      <!-- Confirm-->
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
      </mat-form-field>
      <div *ngIf="frmPassword.get('confirmPassword').errors?.required && frmPassword.get('confirmPassword').touched" class="text-danger error-label">
        <i class="fa fa-exclamation-circle"></i> La confirmación del password es requerida.
      </div>
      <div *ngIf="frmPassword.get('confirmPassword').errors?.equalspassword && frmPassword.get('confirmPassword').touched" class="text-danger error-label">
        <i class="fa fa-exclamation-circle"></i> No coinciden las contraseñas.
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button [disabled]="!frmPassword.valid" mat-raised-button color="primary" (click)="onCloseChange()">Actualizar</button>

  <button mat-raised-button #btnRememberLater autofocus type="button" color="warn" (click)="onCloseLater()">Cambiar mas tarde</button>
</mat-dialog-actions>
