@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background: url('assets/img/bg.jpg') #EBEBEB no-repeat top left ;
}

/* CNT-SITEMAP */

#cnt-sitemap {
  margin-top: 10px;
  border-bottom: 1px solid #e4e2e2;
  margin-bottom:10px;
}

#cnt-sitemap .title {
  font-size: 12px;
  color: #8B8B8B;
  font-weight: bold;
}

#cnt-sitemap .nav {
  font-size: 14px;
}

#cnt-sitemap .nav a {
  color: #464646;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
}
.cnt-dialog-content{
  position: relative;
}
.button-group{
  position: absolute;
  right: 0px;
}
/* UTILITIES */
.mgt-25 {
  margin-top: 25px;
}

.mgt-10 {
  margin-top: 10px;
}

.mgb-10 {
  margin-bottom: 10px;
}

.mgl-10{
  margin-left: 10px;
}

.full-width {
  width: 100%;
}
